@import "tailwindcss";
:root {
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pixelify: "Pixelify Sans", "monospace";
  --color-gibraltar: #143951;
  --color-citadel: #768997;
  --color-blancdeblanc: #e7eae7;
  --color-blueheaven: #5b809a;
  --color-midnight: #17161d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("/background.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  transition:
    background-color 0.5s ease,
    background-image 0.5s ease;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor:
    url("/cursor.svg") 0 0,
    default;
}
